.todoList {
    box-shadow: 1px 2px 20px #c9c5c5;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.closeButton {
margin-left: auto ;
    width: 23px;
}

.task-done {
    opacity: 0.5;
}

.activeButton {
    background-color: #b596cc;
}

.input-error {
    border: 2px solid red;
    border-radius: 3px;
    outline: none;
}