.inputBox {
    position: relative;
    display: flex;
}
.inputBox input{
    width: 80px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #9a9a9a;
    outline: none;
    background: none;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
}
.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #757575;
    transition: 0.5s;

}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: #000000;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.9em;
    padding: 0 10px;
}
.inputBox input:valid,
.inputBox input:focus{
    width: 100%;
    border-bottom: 1px solid #000000;
}
