.task {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #c9c9c9;

}
.text{
    font-size: 17px;
}
.text .date{
    color: #757575;
}

.delete {
    margin-left: auto;
    width: 24px;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.delete:hover{
    transform: rotate(90deg) scale(1.15);
    transition: all 0.2s ease-in;
    opacity: 0.7;
}
.delete:active{
    opacity: 1;
    transition: all 0.2s ease-in;
    transform:rotate(90deg) scale(1.3);
}