.App {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.NewToDO {
  margin-bottom: 40px;
  margin-left: 40px;
  width: 350px;
}
.TodoLists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.App > div {
  margin-right: 30px;
}

